{
    "names":{
        "none":{
            "name":"slackBot",
            "icon":"https://i0.wp.com/slack-assets2.s3-us-west-2.amazonaws.com/8390/img/avatars/ava_0002-48.png?ssl=1"
        }
    }
}
